/* jednoduchý ale barevnější styl */

body {
    font-family: Arial;
    background-color: #373838;
}

/* header */
header {
    background-color: hwb(56 5% 7%);
    color: white;
    text-align: center;
    padding: 20px;
}

/* menu */
nav {
    background-color: hsl(0, 1%, 27%);
    padding: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

/* hover (jednoduchý efekt) */
nav a:hover {
    color: rgb(255, 255, 0);
}

/* obsah */
main {
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
}

/* nadpisy */
h2 {
    color: hwb(0 0% 100%);
}

/* obrázky */
img {
    width: 300px;
    margin: 10px;
    border: 3px solid #00aaff;
}

/* patička */
footer {
    background-color: hwb(56 5% 7%);
    color: white;
    text-align: center;
    padding: 10px;
}
